# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#Ipython checkpoints
.ipynb_checkpoints
*.DS_Store

/CL1_as_image.hspy
/CL1_as_image.tif
/astronaut.hdf5
/bare_core.hdf5
/core_shell.hdf5
/HyperSpy_demos_EDX_TEM_files.zip
/machine_learning.zip
/smoothly_moving_peaks.hspy
/two_peaks.hspy
/wobbly_peak.hspy
*.gitignore
